

h1 {
    font-family: Times;
    font-size: 24pt;
    text-align: center;

  }

.body {
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    margin: auto!important;
    position: absolute;
    font-weight: bold;
}

.header {
    align-items: center;
}

.header p {
    font-size: 20px;
    padding-left: 10px;
}

.Funnel {
    text-align: center;
    margin-bottom: 50px;
}

.button {
    background-color: beige;
    border: none;
    color: black;
    text-align: center;
    padding:15px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 1rem;
    text-decoration: none;
}

.button:hover {
    background-color: chocolate;

}

.footer {
    padding: 50px;
    background-color: rgb(248, 233, 233);
    text-align: center;
    color:grey;
    height: 200px;
}

#Menu
{
    width: 50%; 
    height: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
    border-radius: 20px;
}

.form {
    background-color: beige;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h1 {
    font-size: 30px;
}

.ligne {
    width: 100%;
    height: 1px;
    background-color: rgb(238, 143, 0);
    margin-bottom: 20px;
}

.form corps-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.corps-form groupe {
    margin-top: 20px;
    display: flex;
}

.form .corps-form .left .groupe {
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    position: relative;
}

.form .corps-form .left .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid gray;
    outline-color: rgb(238, 143, 0);
    border-radius: 5px;
}
.form .corps-form .left .groupe i {
    position: absolute;
    left: 0%;
    top: 25px;
    padding: 10px 8px;
    color: rgb(238, 143, 0);
}

.form .corps-form .right .groupe{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.form .corps-form .right .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid rgb(238, 143, 0);
    outline: none;
    resize: none; 
}

.btnForm .button { 
    margin-top: 20px;
    background-color: rgb(238, 143, 0)!important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: transform 0.5s;
}

.btnForm .button:hover{
    transform: scale(1.05);

}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: beige;
}

nav ul {
    list-style-type:none;
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
    text-decoration: none;
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: rgb(238, 143, 0);
    border-bottom: 2px solid rgb(238, 143, 0);
}

.laius {
    text-align: center;
    padding: 2em;
    border: 0.5em solid black;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    padding: 15px;
}

.box .produit1, .produit2, .produit3, .produit4 {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-weight: bold;
    height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    margin-top: 15px;
}

.box p {
    color: red;
    position: relative;
}

.box .produit1{
    background-image: url("https://raw.githubusercontent.com/djein-git/depot-main/main/tree-gc0f40c627_640.jpg");
}

.box .produit2{
    background-image: url("https://raw.githubusercontent.com/djein-git/depot-main/main/cat-g65b8aff35_640.jpg");
}


.box .produit3{
    background-image: url("https://raw.githubusercontent.com/djein-git/depot-main/main/waterfall-gc9e6bbedb_640.jpg");
}

