h1 {
    font-family: Times;
    font-size: 24pt;
    text-align: center;

  }

.body {
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

.header {
    background-color:beige;
    align-items: center;
}

.header p {
    font-size: 20px;
    padding-left: 10px;
}

.Funnel {
    text-align: center;
}

.button {
    background-color: beige;
    border: none;
    color: black;
    text-align: center;
    padding:15px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 1rem;
    text-decoration: none;
}

.button:hover {
    background-color: chocolate;

}