h1 {
    font-family: Times;
    font-size: 24pt;
    text-align: center;

  }

.body {
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    margin: 0%;
    position: absolute;
    font-weight: bold;
}

.header {
    background-color:beige;
    align-items: center;
}

.header p {
    font-size: 20px;
    padding-left: 10px;
}

.Funnel {
    text-align: center;
    margin-bottom: 50px;
}

.button {
    background-color: beige;
    border: none;
    color: black;
    text-align: center;
    padding:15px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 1rem;
    text-decoration: none;
}

.button:hover {
    background-color: chocolate;

}

.Footer {
    padding: 50px;
    background-color: grey;
    text-align: center;
    color:white;
}

#Menu
{
    width: 50%; 
    height: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
    border-radius: 20px;
}

#M_1, #M_2, #M_3, #M_4 {

    text-align: center; 
    width: 20%; 
    border: 1px;
    text-decoration: none;
}

.form {
    background-color: beige;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h1 {
    font-size: 30px;
}

.ligne {
    width: 100%;
    height: 1px;
    background-color: rgb(238, 143, 0);
    margin-bottom: 20px;
}

.form corps-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.corps-form groupe {
    margin-top: 20px;
    display: flex;
}

.form .corps-form .left .groupe {
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    position: relative;
}

.form .corps-form .left .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid gray;
    outline-color: rgb(238, 143, 0);
    border-radius: 5px;
}
.form .corps-form .left .groupe i {
    position: absolute;
    left: 0%;
    top: 25px;
    padding: 10px 8px;
    color: rgb(238, 143, 0);
}

.form .corps-form .right .groupe{
    height: 100%;
    display: inline-block;
}
.form .corps-form .right .groupe textarea{
    margin-top: 20px;
    flex-direction: column;
    border-radius: 5px;
    outline-color:rgb(238, 143, 0);
}


.btnForm { 
    margin-top: 20px;
}